/* src/components/Header.module.css */
.header {
    background: linear-gradient(to bottom, #0074D9, #001F3F);
    color: white;
    text-align: center;
    padding: 20px;
  }
  
  .header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  